.App {
  text-align: center;
  .outlet {
    display: flex;
    min-height: calc(100vh - 50px);
  }
  .app-content {
    width: 100%;
    padding: 20px;
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}